[submodule "third-party/HighFive"]
	path = third-party/HighFive
	url = git@github.com:Phil26AT/HighFive.git
[submodule "third-party/pybind11"]
	path = third-party/pybind11
	url = git@github.com:pybind/pybind11.git
	branch = v2.8
